<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
      <!--<%= render 'shared/error_messages' %>-->
      <%= simple_form_for @user do |f| %>
      <%= f.input :name, label: 'Full name'%>
      <%= f.input :email, placeholder: 'abc@example.com'%>
      <%= f.input :password %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.button :submit, "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>