<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= tag("meta", property: "og:image", content: 'https://res.cloudinary.com/pixhugdev/image/upload/v1507175890/pyunsa796nb2ycuaely0.png') %>
    https://res.cloudinary.com/pixhugdev/image/upload/v1507175890/pyunsa796nb2ycuaely0.png
    <%= tag("meta", property: "og:site_name", content: 'Heroku tutorial') %>
    <%= tag("meta", property: "og:url", content: 'https://railstutorial-web.herokuapp.com/') %>
    <%= tag("meta", property: "og:title", content: 'Heroku app') %>
    <%= tag("meta", property: "og:description", content: "Sample desc") %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
